*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

.container{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
}


.error, .about{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.container .sidebar{
    display: flex;
    width: 15%;
    height: 100%;
    flex-direction: column;
    background-color: #00cffd;
}

.container .sidebar a{
    display: block;
    color: #fff;
    padding: 18px;
}

.container .sidebar a:hover{
    background-color: #00cffd;
    transition: .2s all;
}

.container .main{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    gap: 10px;
}

.container .main h2{
    text-align: center;
    font-weight: 500;
}

.container .tambah{
    font-size: 16px;
    font-weight: 400px;
    color: #fff;
    display: block;
    padding: 10px 15px;
    background-color: #00cffd;
    width: max-content;
    border-radius: 5px;
}

.container .tambah:hover{
    background-color: #00cffd;
    transition: .2s all;
}

.container .main table tr td a.btnUpdate, table tr td a.btnDelete{
    display: block;
    color:#00cffd;
    font-size: 16px;
}

.container .main table tr td a.btnUpdate:hover, table tr td a.btnDelete:hover{
    color:#00cffd;
}

.container table{
    border-collapse: collapse;
    text-align: center;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border-radius: 5px;
}

.container table tr th{
    color: #fff;
    background-color: #00cffd;
}

.container table th, td{
    font-size: 16px;
    padding: 10px 5px;
    font-weight: 500;
    font-size: 16px;
}

.container table tr td:nth-child(5) a, .container table tr td:nth-child(6) a{
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.container table tr td:nth-child(1), .container table tr th:nth-child(1){
    width: 8%;
}

.container table tr td:nth-child(5), .container table tr td:nth-child(6), .container table tr th:nth-child(5), .container table tr th:nth-child(6){
    width: 10%;
} 

.container .card{
    width: 400px;
    margin: auto auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.228);
}

.container .card .card-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .card .input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .card .input input[type="text"]{
    padding: 6px 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.container .card .input label{
    font-size: 15px;
    font-weight: 500px;
}

.container .card button{
    margin-top: 12px;
    padding: 6px 20px;
    border: 1px solid black;
    background-color: #00cffd;
    color: #fff;
    border-radius: 5px;
}

.container .card button:hover{
    background-color: #00cffd;
    cursor: pointer;
}

.container .contact{
    display: flex;
    font-size: 30px;
    justify-content: center;
    gap: 10px;
}

.container .contact a{
    color: #2c2f42;
    padding: 5px 10px;
    background-color: #fff;
    box-shadow: 0px 0px 1px 1px black;
    border-radius: 20%;
}

.container footer{
    display: none;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 18px;
    background-color: #00cffd;
    color: #fff;
}

@media only screen and (max-width:968px){
    .container{
        margin: 60px auto;
        height: 80vh;
    }

    .container .sidebar{
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        background-color: #00cffd;
        width: 100%;
        height: initial;
        font-size: 14px;
    }

    .container .sidebar a{
        padding: 14px;
    }

    .container .main{
        width: 600px;
    }

    .container footer{
        display: flex;
        font-size: 14px;
        padding: 14px;
    }

    .container .main table tr td a.btnUpdate, .container .main table tr td a.btnDelete{
        font-size: 14px;
    }
    
    .container table th, td{
        font-size: 14px;
        padding: 8px;
    }

    .container .tambah{
        padding: 8px 10px;
        font-size: 14px;
    }

    .container .card{
        width: 300px;
    }
}

@media only screen and (max-width:468px){
    .container .main{
        max-width: 400px;
        font-size: 12px;
    }

    .container .sidebar a{
        padding: 12px;
    }
    
    .container .main table tr td a.btnUpdate, .container .main table tr td a.btnDelete{
        font-size: 12px;
    }
    
    .container table th, td{
        font-size: 10px;
        padding: 5px;
    }

    .container .tambah{
        font-size: 12px;
        padding: 6px 8px;
    }

    .container footer{
        /* display: flex; */
        font-size: 12px;
        padding: 12px;
    }
}